@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'League Gothic';
    src: url('fonts/LeagueGothic/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf') format('truetype');
}

html {
    background-color: #e7eaf6;
}

/*main selector*/
h1, h2 {
    text-align: center;
    margin: 30px 0;
}

h1 {
    font-family: 'League Gothic', cursive, monospace;
    font-size: 50px;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto Condensed', cursive, monospace;
    font-size: 35px;
    font-weight: 300;
}

/*tables*/
table {
    border: 5px solid #38598b;
    width: 650px;
    margin: 0 auto;
}

th {
    background-color: #a2a8d3; 
}

td {
    border-top: 1px solid #113f67;
}