/*Universal*/
html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    background-color: black;
    height: 69px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 99%;
}

.logo {
    margin-left: 15px;
}

.link {
    display: flex;
    align-items: center;
}

.link a {
    color: gray;
    margin-left: 25px;
    text-decoration: underline;
}

/*main*/
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 66px;
    margin-bottom: 69px;
}

h2, h4 {
    text-align: center;
}

.mission, .ftea {
    margin-bottom: 69px;
}

/*Mission*/
.mission {
    background-image: url("images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: relative;
}

.mtitle {
    position: absolute;
    background-color: black;
    width: 1200px;
}

/*Feature tea*/
.ftea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.fimages {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

figure {
    margin: 0 15px 20px;  
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

/*Location*/
.locations {
    background-image: url("images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ltitle h2 {
    margin-bottom: 15px;
}

.square {
    display: flex;
    flex-direction: row;
}

.address {
    width: 300px;
    background-color: black;
    opacity: 1;
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    align-items: center;
}

/*Footer*/
footer .contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5 {
    margin: 15px 0;
}

.copyright {
    margin-left: 20px;
    text-align: left;
}